name: CD pipeline
on:
  workflow_run:
    workflows: [CI Pipeline]
    types: [completed]

jobs:
  on-success:
    runs-on: self-hosted
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
      - run: |
         echo 'Deploying updated weather-ml-app image'
         kubectl set image deployments/weather-ml-app-deployment weather-ml-app-container=harryhavana/weather-ml-app:latest && ./multiple_users.sh
  on-failure:
    runs-on: self-hosted
    if: ${{ github.event.workflow_run.conclusion == 'failure' }}
    steps:
      - run: echo 'CD workflow not started - CI Pipeline failed to complete'
