name: CD pipeline
on:
  workflow_run:
    workflows: [CI Pipeline]
    types: [completed]

jobs:
  on-success:
    runs-on: self-hosted
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
      - name: Deploy updated weather-ml-app image
        run: kubectl set image deployments/weather-ml-app-deployment weather-ml-app-container=harryhavana/weather-ml-app:1.0
  on-failure:
    runs-on: self-hosted
    if: ${{ github.event.workflow_run.conclusion == 'failure' }}
    steps:
      - name: CI Pipeline error
        run: echo 'CD workflow not started - CI Pipeline failed to complete'
