name: CI Pipeline
on:
  push:
    branches: [ main ]

jobs:
  build-test-ship:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Docker Login
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build image
      uses: docker/build-push-action@v6
      with:
        context: .
        tags: ${{ secrets.DOCKERHUB_USERNAME }}/test:1.0
        push: false

    - name: Test container
      uses: addnab/docker-run-action@v3
      with:
        image: ${{ secrets.DOCKERHUB_USERNAME }}/test:1.0
        run: |
          echo "Hello from inside the container. Here is the list output from the root directory..."
          ls /
    - name: Push image
      uses: docker/build-push-action@v6
      with:
        context: .
        tags: ${{ secrets.DOCKERHUB_USERNAME }}/test:1.0
        push: true
